form {
  width: 300px;
  position: relative;

  > div {
    margin-bottom: 20px;
  }

  .change-error {
    color: red;
    font-weight: bold;
    text-align: center !important;
    margin: 10px 0px;
  }
}
