<form [formGroup]="passwordChange" (ngSubmit)="onSubmit()">
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div>
    <label for="username">Enter username</label>
    <input
      class="form-control form-control-sm"
      [ngClass]="{
        'is-invalid':
          passwordChange.controls['username'].invalid &&
          (passwordChange.controls['username'].dirty || passwordChange.controls['username'].touched)
      }"
      type="text"
      formControlName="username"
      name="username"
      id="username"
    />
    <div class="invalid-feedback">Please enter username</div>
  </div>
  <div>
    <label for="password">Enter current password</label>
    <input
      class="form-control form-control-sm"
      [ngClass]="{
        'is-invalid':
          passwordCorrection ||
          (passwordChange.controls['password'].invalid &&
            (passwordChange.controls['password'].dirty || passwordChange.controls['password'].touched))
      }"
      type="password"
      formControlName="password"
      name="password"
      id="password"
    />
    <div class="invalid-feedback">{{ passwordCorrection || "Please enter password" }}</div>
  </div>
  <div>
    <label for="newP">Enter new password</label>
    <input
      class="form-control form-control-sm"
      [ngClass]="{
        'is-invalid':
          passwordChange.controls['newP'].invalid && (passwordChange.controls['newP'].dirty || passwordChange.controls['newP'].touched)
      }"
      type="password"
      formControlName="newP"
      name="newP"
      id="newP"
    />
    <div class="invalid-feedback">Please enter new password</div>
  </div>
  <div>
    <label for="renewP">Re-enter new password</label>
    <input
      class="form-control form-control-sm"
      [ngClass]="{
        'is-invalid':
          (passwordChange.errors?.passwordNotEqual || passwordChange.controls['renewP'].invalid) &&
          (passwordChange.controls['renewP'].dirty || passwordChange.controls['renewP'].touched)
      }"
      type="password"
      formControlName="renewP"
      name="renewP"
      id="renewP"
    />
    <div class="invalid-feedback">{{ (passwordChange.errors && passwordChange.errors["message"]) || "Please re-enter new password" }}</div>
  </div>

  <button class="btn-gold" type="submit" [disabled]="!passwordChange.valid">Change Password</button>

  <p *ngIf="errorChanging" class="change-error">
    {{ errorChanging }}
  </p>
</form>
