<div class="modal-dialog pr-3 pl-3">
  <div class="modal-content">
    <div class="modal-body">
      <form #form="ngForm">
        <div class="row">
          <textarea #msg="ngModel" ngModel name="msg" class="form-control" placeholder="Rejection Message" required></textarea>
        </div>
        <div class="row" *ngIf="errorMsg">
          <p class="text-danger font-weight-bold mb-0">
            {{ errorMsg }}
          </p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary px-4 mr-3" color="info" (click)="closeDialog()">
        Cancel
      </button>
      <button type="button" class="btn btn-sm btn-danger px-4" [disabled]="form.invalid" (click)="confirm(msg)">
        Reject
      </button>
    </div>
  </div>
</div>
