<!-- <app-access-denied *ngIf="isAccessDenied; else permissionGranted"></app-access-denied> -->

<div class="container cards-container">
  <div class="row justify-content-around">
    <!--Failed Business Partner-->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body" routerLink="/admin-operations">
          <p class="card-description text-right"></p>
          <div class="card-body-icon">
            <i class="fas fa-id-badge"></i>
          </div>
          <div class="card-body-details">
            <h6 class="card-title text-left">Failed Business Partners</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
