<!-- Modal -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Select User(s)</h4>
      <div class="input-group">
        <input class="form-control" type="search" [(ngModel)]="userSearchValue" placeholder="Search" />
      </div>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th>
                <input id="assign-all-users-checkbox" class="cursor-pointer" type="checkbox" (click)="onAllUsersCheckClicked($event)" />
              </th>
              <th>Name</th>
              <th>Username</th>
              <!-- <th>Company Code</th> -->
              <!-- <th></th> -->
            </tr>
          </thead>
          <Caption *ngIf="loadingFlag == true" class="text-center">
            <img src="/assets/imgs/Spinner-1s-200px.svg" alt="loading..." style="width: 7rem" />
          </Caption>
          <Caption *ngIf="loadingFlag == false && (tempUsersArr == null || tempUsersArr.length == 0)">No Data</Caption>
          <tbody>
            <ng-container *ngFor="let user of tempUsersArr; let i = index">
              <tr *ngIf="matchUserName(user.user)" [class.selected]="user.isSelected">
                <td (click)="onUserClicked(i)"><input class="cursor-pointer" type="checkbox" [(ngModel)]="user.isSelected" /></td>
                <td (click)="onUserClicked(i)">{{ user.user.firstName }} {{ user.user.lastName }}</td>
                <td (click)="onUserClicked(i)">{{ user.user.email }}</td>
                <!-- Company Codes Search Field -->
                <!-- <td>
                  <input
                    type="text"
                    placeholder="Search Company Codes"
                    aria-label="Company Code"
                    class="form-control"
                    matInput
                    [formControl]="companyCodesControls[i]"
                    [matAutocomplete]="companyCodesAuto"
                    (click)="companyCodesControls[i].setValue(companyCodesControls[i].value ? companyCodesControls[i].value : '')"
                  />
                  <mat-autocomplete #companyCodesAuto="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of filteredCompanyCodes[i] | async" [value]="option">
                      {{ option.compCodeText }} ({{ option.compCode }})
                    </mat-option>
                  </mat-autocomplete>
                </td> -->
                <!-- <td (click)="addUser(user.user, i)">
                  <a><i class="fa fa-plus gold"></i></a>
                </td> -->
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <!-- end of container-fluid-->
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-danger" type="button" (click)="onCancelClicked()">Cancel</button>
      <button class="btn btn-sm btn-success" type="button" (click)="onSaveClicked()">Save</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
