<div class="modal-dialog">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h4 class="modal-title">Add New Role</h4>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <!-- ID -->
      <div class="form-row mb-4">
        <div class="col">
          <label>ID:</label>
          <div class="input-group">
            <input [(ngModel)]="newRole._id" type="text" id="role-input-_id" class="form-control" />
            <div class="valid-tooltip invalid-feedback">ID Field Can't Be Empty</div>
          </div>
        </div>
      </div>

      <!-- Role Text -->
      <div class="form-row mb-4">
        <div class="col">
          <label>Role Description:</label>
          <div class="input-group">
            <input [(ngModel)]="newRole.roleText" type="text" id="role-input-roleText" class="form-control" />
            <div class="valid-tooltip invalid-feedback">Role Description Field Can't Be Empty</div>
          </div>
        </div>
      </div>

      <!-- Error Message -->
      <div class="error-message-box">
        <p>{{ errorMsg }}</p>
      </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button class="btn btn-sm btn-danger" type="button" (click)="cancel()">Cancel</button>
      <button class="btn btn-sm btn-success" type="button" (click)="save()">Save</button>
    </div>
  </div>
</div>
