.content-wrapper {
  //   display: flex;
  //   flex-direction: column;
  mat-card-title {
    text-transform: capitalize;
  }

  mat-form-field {
    width: 100%;
  }

  mat-selection-list {
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
  }

  button {
    width: 100%;
  }
}
